publish_queue_n8n_workflow_fixed.json
{
  "name": "Publish Queue Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://piavkbvjdjxxsvgzofao.supabase.co/rest/v1/publish_queue?status=eq.pending",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_KEY}}" },
            { "name": "Accept", "value": "application/json" }
          ]
        }
      },
      "name": "Get Pending Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": { "batchSize": 1 },
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [750, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "id", "name": "id", "value": "={{ $json.id }}", "type": "string" },
            { "id": "drive_file_id", "name": "drive_file_id", "value": "={{ $json.drive_file_id }}", "type": "string" },
            { "id": "drive_file_name", "name": "drive_file_name", "value": "={{ $json.drive_file_name }}", "type": "string" },
            { "id": "title", "name": "title", "value": "={{ $json.title }}", "type": "string" },
            { "id": "description", "name": "description", "value": "={{ $json.description ?? '' }}", "type": "string" },
            { "id": "platforms", "name": "platforms", "value": "={{ JSON.stringify($json.platforms ?? []) }}", "type": "string" },
            { "id": "scheduled_at", "name": "scheduled_at", "value": "={{ $json.scheduled_at }}", "type": "string" },
            { "id": "options", "name": "options", "value": "={{ JSON.stringify($json.options ?? {}) }}", "type": "string" }
          ]
        }
      },
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://video.basketouch.com/api/process_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ id: $json.id, drive_file_id: $json.drive_file_id, drive_file_name: $json.drive_file_name, title: $json.title, description: $json.description, platforms: typeof $json.platforms === 'string' ? JSON.parse($json.platforms) : ($json.platforms ?? []), scheduled_at: $json.scheduled_at && String($json.scheduled_at).trim() ? $json.scheduled_at : null, options: typeof $json.options === 'string' ? JSON.parse($json.options || '{}') : ($json.options ?? {}) }) }}"
      },
      "name": "Call Backend Publish",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{
            "leftValue": "={{ $json.body?.success }}",
            "rightValue": true,
            "operator": { "type": "boolean", "operation": "equals" }
          }]
        }
      },
      "name": "Was Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://piavkbvjdjxxsvgzofao.supabase.co/rest/v1/publish_queue?id=eq.{{ $('Prepare Payload').item.json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"published\", \"published_urls\": {{ JSON.stringify($json.body?.published_urls ?? {}) }}}",
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "name": "Mark Published",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://piavkbvjdjxxsvgzofao.supabase.co/rest/v1/publish_queue?id=eq.{{ $('Prepare Payload').item.json.id }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"status\": \"error\", \"error\": {{ JSON.stringify(JSON.stringify($json.body ?? $json)) }}}",
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      },
      "name": "Mark Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 400]
    }
  ],
  "connections": {
    "Cron": { "main": [[{ "node": "Get Pending Rows", "type": "main", "index": 0 }]] },
    "Get Pending Rows": { "main": [[{ "node": "SplitInBatches", "type": "main", "index": 0 }]] },
    "SplitInBatches": { "main": [[{ "node": "Prepare Payload", "type": "main", "index": 0 }]] },
    "Prepare Payload": { "main": [[{ "node": "Call Backend Publish", "type": "main", "index": 0 }]] },
    "Call Backend Publish": { "main": [[{ "node": "Was Success?", "type": "main", "index": 0 }]] },
    "Was Success?": {
      "main": [
        [{ "node": "Mark Published", "type": "main", "index": 0 }],
        [{ "node": "Mark Error", "type": "main", "index": 0 }]
      ]
    }
  }
}
