publish_queue_n8n_workflow_fixed.json
{
  "name": "Publish Queue Orchestrator (fixed)",
  "nodes": [
    { "parameters": { "triggerTimes": { "item": [ { "hour": "*/5", "minute": "0", "mode": "every" } ] } }, "name": "Cron", "type": "n8n-nodes-base.cron", "typeVersion": 1, "position": [250,300] },
    { "parameters": { "requestMethod": "GET", "url": "https://piavkbvjdjxxsvgzofao.supabase.co/rest/v1/publish_queue?status=eq.pending", "responseFormat": "json", "headerParameters": { "parameters": [ { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpYXZrYnZqZGp4eHN2Z3pvZmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5MzY5MCwiZXhwIjoyMDg5NzY5NjkwfQ.B7Y6tKtBe0MGJdgkZ-ur9NgIUHlhBvuB1X9vH-SgSbo" }, { "name": "Authorization", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpYXZrYnZqZGp4eHN2Z3pvZmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5MzY5MCwiZXhwIjoyMDg5NzY5NjkwfQ.B7Y6tKtBe0MGJdgkZ-ur9NgIUHlhBvuB1X9vH-SgSbo" }, { "name": "Accept", "value": "application/json" } ] } }, "name": "Get Pending Rows", "type": "n8n-nodes-base.httpRequest", "typeVersion": 2, "position": [500,300] },
    { "parameters": { "batchSize": 1 }, "name": "SplitInBatches", "type": "n8n-nodes-base.splitInBatches", "typeVersion": 1, "position": [750,300] },
    { "parameters": { "values": { "string": [ { "name": "id", "value": "={{$json[\"id\"]}}" }, { "name": "drive_file_id", "value": "={{$json[\"drive_file_id\"]}}" }, { "name": "drive_file_name", "value": "={{$json[\"drive_file_name\"]}}" }, { "name": "title", "value": "={{$json[\"title\"]}}" }, { "name": "description", "value": "={{$json[\"description\"]}}" }, { "name": "platforms", "value": "={{JSON.stringify($json[\"platforms\"])}}" } ] } }, "name": "Prepare Payload", "type": "n8n-nodes-base.set", "typeVersion": 1, "position": [1000,300] },
    { "parameters": { "requestMethod": "POST", "url": "http://localhost:3000/api/process_publish", "jsonParameters": true, "bodyParametersJson": "={\"id\": $json.id, \"drive_file_id\": $json.drive_file_id, \"drive_file_name\": $json.drive_file_name, \"title\": $json.title, \"description\": $json.description, \"platforms\": JSON.parse($json.platforms)}" }, "name": "Call Backend Publish", "type": "n8n-nodes-base.httpRequest", "typeVersion": 2, "position": [1250,300] },
    { "parameters": { "conditions": { "type": "boolean", "rules": [ { "value1": "={{$json[\"body\"]?.success === true}}", "operation": "equal" } ] } }, "name": "Was Success?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [1500,300] },
    { "parameters": { "requestMethod": "PATCH", "url": "https://piavkbvjdjxxsvgzofao.supabase.co/rest/v1/publish_queue?id=eq.{{$json[\"id\"]}}", "jsonParameters": true, "bodyParametersJson": "={\"status\": \"published\", \"published_urls\": $json.body.published_urls }", "headerParameters": { "parameters": [ { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpYXZrYnZqZGp4eHN2Z3pvZmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5MzY5MCwiZXhwIjoyMDg5NzY5NjkwfQ.B7Y6tKtBe0MGJdgkZ-ur9NgIUHlhBvuB1X9vH-SgSbo" }, { "name": "Authorization", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpYXZrYnZqZGp4eHN2Z3pvZmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5MzY5MCwiZXhwIjoyMDg5NzY5NjkwfQ.B7Y6tKtBe0MGJdgkZ-ur9NgIUHlhBvuB1X9vH-SgSbo" }, { "name": "Content-Type", "value": "application/json" } ] } }, "name": "Mark Published", "type": "n8n-nodes-base.httpRequest", "typeVersion": 2, "position": [1750,240] },
    { "parameters": { "requestMethod": "PATCH", "url": "https://piavkbvjdjxxsvgzofao.supabase.co/rest/v1/publish_queue?id=eq.{{$json[\"id\"]}}", "jsonParameters": true, "bodyParametersJson": "={\"status\": \"error\", \"error\": JSON.stringify($json.body) }", "headerParameters": { "parameters": [ { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpYXZrYnZqZGp4eHN2Z3pvZmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5MzY5MCwiZXhwIjoyMDg5NzY5NjkwfQ.B7Y6tKtBe0MGJdgkZ-ur9NgIUHlhBvuB1X9vH-SgSbo" }, { "name": "Authorization", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBpYXZrYnZqZGp4eHN2Z3pvZmFvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDE5MzY5MCwiZXhwIjoyMDg5NzY5NjkwfQ.B7Y6tKtBe0MGJdgkZ-ur9NgIUHlhBvuB1X9vH-SgSbo" }, { "name": "Content-Type", "value": "application/json" } ] } }, "name": "Mark Error", "type": "n8n-nodes-base.httpRequest", "typeVersion": 2, "position": [1750,360] }
  ],
  "connections": {
    "Cron": { "main": [ [ { "node": "Get Pending Rows", "type": "main", "index": 0 } ] ] },
    "Get Pending Rows": { "main": [ [ { "node": "SplitInBatches", "type": "main", "index": 0 } ] ] },
    "SplitInBatches": { "main": [ [ { "node": "Prepare Payload", "type": "main", "index": 0 } ] ] },
    "Prepare Payload": { "main": [ [ { "node": "Call Backend Publish", "type": "main", "index": 0 } ] ] },
    "Call Backend Publish": { "main": [ [ { "node": "Was Success?", "type": "main", "index": 0 } ] ] },
    "Was Success?": { "main": [ [ { "node": "Mark Published", "type": "main", "index": 0 } ], [ { "node": "Mark Error", "type": "main", "index": 0 } ] ] }
  }
}
